.background {
  background: linear-gradient(#27282b, #150619);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 30px 30px;
  padding: 15px 15px;
  height: 80vh;
  width: 80vh;
  background: linear-gradient(#23262f, #1e1322);
  border-radius: 25px;
  border: 0.5px solid grey;
  overflow: scroll;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}
